.pagination a:hover{color:#ff6000;}
.pagination span, .pagination a{
    color: #000;
    bordor-color:#ff6000;
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a{
    color: #999;
    cursor: default;
    background-color: transparent;
}
.pagination ul > .active > a{
    color: #999;
    cursor: default;
}
.pagination .controls a {
    border: 0;
}
.pagination .controls input {

    border: 0;
    color: #999;
    width: 30px;
    padding: 0;
    margin: -3px 0 0 0;
    text-align: center;
}